

.main-container{
  background-color: rgba(218, 214, 214, 0.671);
  width: 100%;
  min-height: 500px;
  text-align: center;
  padding: 20px 80px;
}

@media screen and (max-width: 599px) {
    .main-container{
      padding: 10px 30px;
    }
}



