

<div class="card-info">
  <h1>Login</h1>
  <hr>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div class="inputs">
        <label for="email">Email</label>
        <input  type="email"
                class="input"
                formControlName="email"
                placeholder="Introduce your Email">
      </div>
      <div class="inputs">
        <label for="password">Password</label>
        <input  type="password"
                class="input"
                formControlName="password"
                placeholder="Introduce your Password">
      </div>
      <button id="boton" mat-raised-button color="primary">Log In</button>
    </form>
    <div class="no-cuenta">
      <span>Aun no tienes Cuenta?</span>
      <a [routerLink]="['/register/signup']">Registrate Aqui</a>
    </div>
</div>




