

.header{
  width: 100%;
  height: 50px;
  display: flex;
  padding: 20px 80px;
  justify-content: space-around;
  align-items: center;
  font-family: 'poppins';
  margin-top: 20px;
}

.header a{
  font-size: 35px;
  color: rgb(144, 204, 224);
  font-family: 'poppins';
  text-decoration: none;
}

.navbar-menu{
  list-style: none;
}

.navbar-links a{
  text-decoration: none;
  font-size: 22px;
}

