

.main-container{
  background-color: rgba(218, 214, 214, 0.671);
  width: 100%;
  min-height: 600px;
  text-align: center;
  padding: 20px 80px;
}


/* FORM CARD */
.card-info{
  width: 350px;;
  max-width: 100%;
  padding: 20px;
  background-color: white;
  margin: 0px auto;
  text-align: center;
  border-radius: 40px;
}

.card-info h1{
  font-size: 35px;
  font-family: 'poppins', sans-serif;
}

.inputs{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 3px;
}

.inputs label{
  font-family: 'poppins', sans-serif;
  margin-top: 7px;
  font-size: 17px;
}

.input{
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.329);
  padding: 10px;
  font-family: 'poppins', sans-serif;
}

#pri-boton{
  margin-top: 10px;
  margin-bottom: 5px;
}

/* Tener Cuenta */
.tener-cuenta{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tener-cuenta a{
  font-family: 'poppins', sans-serif;
  text-decoration: none;
}

@media screen and (max-width: 599px){
  .main-container{
    padding: 20px 30px;
  }
  .card-info{
    margin: 0px;
    width: 450px;
    margin: 0px auto;
    text-align: center;
  }

  .card-info h1{
    font-size: 22px;
  }

  .inputs label{
    font-size: 18px;
  }
}
