
<div class="main-container animate__animated animate__fadeIn animate__faster">

  <div class="buscar">
    <form [formGroup]="myForm">
      <label for="name" placeholder="Searh">Search Your favorite person</label>
      <input type="text" formControlName="name">
    </form>
  </div>
  <div  id="alerta"
        class="alert alert-danger "
        *ngIf="(user | filter:nombre).length === 0">
    <p>No hay personajes registrados con este nombre</p>
  </div>
  <div class="main-cards">
    <div class="main-card animate__animated animate__fadeIn animate__faster" *ngFor="let user of user | filter:nombre">
          <img [src]="user.image">
        <div class="main-infoo">
          <div class="card-info">
            <h1 id="h1-info">Name: <span class="span">{{user.name}}</span></h1>
          </div>
          <div class="card-info">
            <h1 id="h1-location">Location: <span class="span">{{user.location.name}}</span></h1>
          </div>
          <div class="card-info">
            <h1 id="h1-gender">Gender: <span class="span">{{user.gender}}</span></h1>
          </div>
          <button type="button"
                  id="segundo-boton"
                  [routerLink]="['/rick/user', user.id]">Ver Mas..</button>
        </div>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>

