

<div class="main-content">
  <app-navbar></app-navbar>
  <div class="contenido">
    <div class="content-info">
      <h1>Rick And Morty</h1>
    <p>
      Bienvenido a esta web basada en Rick And Morty, aqui podras ver a tus personajes favoritos sobre esta serie
      y poder ver todas sus caracteristicas como su primera aparicion, de que tierra vienen, su peso,
      altura entre otras muchas mas, Para poder ver sus caracteristicas primero deberas Registrarte
    </p>
    <button id="sec-boton"
            mat-raised-button color="primary"
            (click)="navegar()">
      Ver mas...
    </button>
    </div>
    <div class="content-img">
      <img src="../../../../assets/img/zombies.jpg" alt="picture">
    </div>
  </div>
  </div>
